nav {
    background-color: #f8f9fa; /* Light grey */
    padding: 15px;
    border-radius: 5px;
}

nav a {
    color: #007BFF; /* Blue */
    text-decoration: none;
    font-size: 18px;
    margin: 5px 0;
    display: block;
}

nav a:hover {
    color: #0056b3; /* Darker blue */
}

nav a:active {
    color: #004085; /* Even darker blue */
    font-weight: bold;
}

router-outlet {
    display: block;
    margin-top: 20px;
}
